Repository Codeinwp/woocommerce-product-addon, pull requests merged in 2024-10, with the labels that each got.

#395 Set default maximum image selection
  js/ppom.inputs.js
Labels: pr-checklist-skip, pr-checklist-complete

#402 fix: condition for validation skip for fields with min/max checked
  inc/woocommerce.php
Labels: pr-checklist-skip

#405 fix: add fields re-ordering for JSON payload
  inc/admin.php
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#406 fix: remove old textarea input for categories
  inc/admin.php
Labels: pr-checklist-skip, pr-checklist-complete

#409 fix: remove event stop propagation for outside click checking
  js/ppom-simple-popup.js
Labels: pr-checklist-skip, pr-checklist-complete

#410 fix: use fetch for saving meta group fields
  inc/admin.php
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#412 fix: chunk file name for uploaded files
  inc/files.php
  tests/test-file-upload.php
Labels: pr-checklist-complete

#415 fix: image selection for Image Input
  js/ppom.inputs.js
Labels: pr-checklist-skip, pr-checklist-complete

#416 fix: add `imageselect` as condition with `is` and `is not` operator
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#414 Dev/e2e
  .editorconfig
  .github/workflows/create-build-zip.yml
  .github/workflows/create-tag.yml
  .github/workflows/deploy-s3-store.yml
  .github/workflows/e2e.yml
  .github/workflows/test-php.yml
  .gitignore
  .wp-env.json
  CONTRIBUTING.md
  bin/e2e-after-setup.sh
  bin/env/create-products.sh
  package.json
  tests/e2e/config/flaky-tests-reporter.js
  tests/e2e/config/global-setup.ts
  tests/e2e/playwright.config.js
  tests/e2e/specs/attach-modal.spec.js
  tests/e2e/specs/conditions.spec.js
  tests/e2e/specs/group-field-edit.spec.js
  tests/e2e/utils.js
  yarn.lock
Labels: pr-checklist-complete

#418 Fix multiple categories and backward compatibility
  .github/workflows/test-php.yml
  .gitignore
  bin/env/create-products.sh
  classes/admin.class.php
  classes/ppom.class.php
  package.json
  tests/bootstrap.php
  tests/e2e/specs/attach-modal.spec.js
  tests/e2e/specs/group-field-edit.spec.js
  tests/test-field-saving.php
Labels: pr-checklist-complete

#420 Fix Attach Modal visibility
  templates/admin/ppom-fields.php
  tests/e2e/specs/attach-modal.spec.js
Labels: pr-checklist-complete
