Repository Codeinwp/woocommerce-product-addon, pull requests merged in 2024-09, with the labels that each got.

#346 Added wc default product tags column
  inc/admin.php
Labels: pr-checklist-skip, pr-checklist-complete

#349 Added personalization preview menu in dashboard
  classes/admin.class.php
  classes/freemium.class.php
  inc/arrays.php
Labels: pr-checklist-skip, pr-checklist-complete

#352 Added conditional repeater upsell notice when adding a new field
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#351 Added tooltip feature
  classes/inputs/input.audio.php
  classes/inputs/input.checkbox.php
  classes/inputs/input.color.php
  classes/inputs/input.cropper.php
  classes/inputs/input.date.php
  classes/inputs/input.daterange.php
  classes/inputs/input.email.php
  classes/inputs/input.file.php
  classes/inputs/input.image.php
  classes/inputs/input.measure.php
  classes/inputs/input.number.php
  classes/inputs/input.palettes.php
  classes/inputs/input.pricematrix.php
  classes/inputs/input.quantities.php
  classes/inputs/input.radio.php
  classes/inputs/input.section.php
  classes/inputs/input.select.php
  classes/inputs/input.text.php
  classes/inputs/input.textarea.php
  classes/inputs/input.timezone.php
  classes/plugin.class.php
Labels: pr-checklist-skip, pr-checklist-complete

#360 Disabled pointer events on input labels
  css/ppom-admin.css
Labels: pr-checklist-skip, pr-checklist-complete

#361 Disabled field conditions when they are not enabled
  css/ppom-admin.css
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#342 Remove SweetAlert
  classes/fields.class.php
  css/ppom-admin.css
  global.d.ts
  js/admin/ppom-admin.js
  js/admin/ppom-meta-table.js
  js/popup.js
Labels: pr-checklist-skip, pr-checklist-complete

#363 Improved field groups page upsells
  classes/admin.class.php
  classes/fields.class.php
  css/ppom-admin.css
  inc/admin.php
  js/admin/ppom-admin.js
  js/admin/ppom-meta-table.js
  templates/admin/existing-meta.php
Labels: pr-checklist-skip, pr-checklist-complete

#362 Locked the data name field on edit mode
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#366 Updated changelog file
  backend/changelog_handler.php
Labels: pr-checklist-skip, pr-checklist-complete

#372 Improved the image displayed on the order edit page
  inc/functions.php
Labels: pr-checklist-skip, pr-checklist-complete

#371 Added required plugin header in tag
  woocommerce-product-addon.php
Labels: pr-checklist-skip, pr-checklist-complete

#370 chore: redo addons page content
  css/ppom-admin.css
  inc/arrays.php
  templates/admin/addons-list.php
Labels: pr-checklist-complete

#364 chore: edit options descriptions
  backend/options.php
  backend/templates/admin-settings.php
  inc/arrays.php
Labels: pr-checklist-complete

#365 Fixed default demo fields assign issue
  assets/ppom-basic-meta.json
Labels: pr-checklist-skip, pr-checklist-complete

#374 Added CSS selector keyword to scope and description
  classes/ppom.class.php
  templates/admin/ppom-fields.php
Labels: pr-checklist-skip, pr-checklist-complete

#343 Make `Download File` to download the file instead of Preview
  classes/admin.class.php
  inc/functions.php
Labels: pr-checklist-skip, pr-checklist-complete

#345 fix: delete non-img file btn and workflow
  inc/files.php
  js/file-upload.js
Labels: pr-checklist-skip, pr-checklist-complete

#382 refactor: product metabox for fields attach
  classes/admin.class.php
  inc/admin.php
Labels: pr-checklist-skip, pr-checklist-complete

#344 fix: add max image selection constrain to Image Field
  js/ppom.inputs.js
  templates/frontend/inputs/image.php
Labels: pr-checklist-skip

#354 Fixed compatibility with multisite
  classes/admin.class.php
Labels: pr-checklist-skip, pr-checklist-complete

#355 Fixed conditional field issue with other languages
  inc/hooks.php
  js/ppom-conditions-v2.js
Labels: pr-checklist-skip, pr-checklist-complete

#356 Hide unsupported field option tabs
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#357 Restrict custom style uses for free users
  classes/admin.class.php
  classes/fields.class.php
  classes/frontend-scripts.class.php
  css/ppom-admin.css
  inc/admin.php
  inc/functions.php
  templates/admin/ppom-fields.php
Labels: pr-checklist-skip, pr-checklist-complete

#367 Added condition remove support
  classes/fields.class.php
  classes/inputs/input.audio.php
  classes/inputs/input.checkbox.php
  classes/inputs/input.color.php
  classes/inputs/input.cropper.php
  classes/inputs/input.date.php
  classes/inputs/input.daterange.php
  classes/inputs/input.email.php
  classes/inputs/input.file.php
  classes/inputs/input.image.php
  classes/inputs/input.measure.php
  classes/inputs/input.number.php
  classes/inputs/input.palettes.php
  classes/inputs/input.pricematrix.php
  classes/inputs/input.quantities.php
  classes/inputs/input.radio.php
  classes/inputs/input.section.php
  classes/inputs/input.select.php
  classes/inputs/input.text.php
  classes/inputs/input.textarea.php
  classes/inputs/input.timezone.php
  css/ppom-admin.css
  js/admin/ppom-admin.js
Labels: pr-checklist-skip, pr-checklist-complete

#373 Show upsell popup when editing pro fields
  css/ppom-admin.css
  inc/functions.php
  js/admin/ppom-admin.js
  templates/admin/existing-meta.php
  templates/admin/ppom-fields.php
  woocommerce-product-addon.php
Labels: pr-checklist-skip, pr-checklist-complete

#375 Added support for importing images, videos, and audio files
  classes/fields.class.php
  classes/input-meta.class.php
Labels: pr-checklist-skip, pr-checklist-complete

#377 Fixed compatibility issue with files of varying extensions
  inc/files.php
  inc/functions.php
  js/file-upload.js
Labels: pr-checklist-skip, pr-checklist-complete

#378 Locked pro features based on the license plan
  backend/assets/settings.css
  backend/assets/settings.js
  backend/templates/admin-settings.php
  classes/fields.class.php
  classes/freemium.class.php
  classes/plugin.class.php
  css/ppom-admin.css
  js/admin/ppom-admin.js
  templates/admin/ppom-fields.php
Labels: pr-checklist-skip, pr-checklist-complete

#380 Keep the original file name in the cart
  inc/files.php
  js/file-upload.js
Labels: pr-checklist-skip, pr-checklist-complete

#384 feat: add price multiplier for Measure Input
  classes/inputs/input.measure.php
  inc/nmInput.class.php
  inc/prices.php
  inc/woocommerce.php
  js/price/ppom-price.js
  templates/frontend/inputs/measure.php
Labels: pr-checklist-skip, pr-checklist-complete

#381 refactor: add input field modal
  classes/admin.class.php
  css/ppom-admin.css
  js/admin/ppom-admin.js
  templates/admin/ppom-fields.php
Labels: pr-checklist-skip, pr-checklist-complete

#350 Revamp Attach to Products popup
  classes/admin.class.php
  classes/attach-popup/container-item.class.php
  classes/attach-popup/container-view.class.php
  classes/attach-popup/select-component.class.php
  classes/plugin.class.php
  classes/ppom.class.php
  css/ppom-admin.css
  css/select2.css
  inc/admin.php
  inc/functions.php
  js/admin/ppom-admin.js
  js/admin/ppom-meta-table.js
  js/select2.js
  templates/admin/existing-meta.php
  templates/admin/ppom-fields.php
  templates/admin/product-modal.php
  templates/admin/products-list.php
  woocommerce-product-addon.php
Labels: pr-checklist-skip, pr-checklist-complete

#387 refactor: apply contrast design suggestions
  classes/fields.class.php
  css/ppom-admin.css
  templates/admin/existing-meta.php
  templates/admin/product-modal.php
Labels: pr-checklist-skip, pr-checklist-complete

#388 refactor: remove migrate to old settings button
  backend/assets/settings.css
  backend/assets/settings.js
  backend/templates/admin-settings.php
Labels: pr-checklist-skip, pr-checklist-complete

#389 fix: enquiry form and popup position and close on click outside
  css/ppom-simple-popup.css
  js/ppom-simple-popup.js
Labels: pr-checklist-skip, pr-checklist-complete

#348 Added upsell notice on Attach to Products modal
  css/ppom-admin.css
  templates/admin/products-list.php
Labels: pr-checklist-skip, pr-checklist-complete

#383 feat: add new condition options and improve UX & UI
  classes/fields.class.php
  css/ppom-admin.css
  inc/functions.php
  js/admin/ppom-admin.js
  js/ppom-conditions-v2.js
  templates/admin/ppom-fields.php
Labels: pr-checklist-skip, pr-checklist-complete

#392 Fixed max image selection issue
  js/ppom.inputs.js
Labels: pr-checklist-skip, pr-checklist-complete
